:root {
    --vermelho-tomate: #b93232;
    --vermelho-escuro: #8f2626;
    --vermelo-escuro-selecionado: #641a1a;
    --verde-oliva: #4d6040;
    --fundo-claro: #f4f3ee;
    --texto-principal: #2d2d2d;
    --texto-suave: #6c7a60;
    --verde-escuro: #2f3b28;
    --verde-confirmado: rgb(0, 90, 0);
    --verde-confirmado-selecionado: rgb(0, 58, 0);
    --amarelo-pendente: rgb(186, 186, 0);
    --amarelo-pendente-selecionado: rgb(123, 123, 1);
    --preto-finalizado: rgb(35, 35, 35);
    --preto-finalizado-selecionado: rgb(20, 20, 20);
    --branco: #ffffff;
    --sombra: rgba(0, 0, 0, 0.4);
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: var(--verde-oliva);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23405233' fill-opacity='0.6'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
    color: var(--texto-principal);
    height: 100vh;
}

html {
    font-size: 62.5%;
    height: 100vh;
}


.container {
    padding: 2rem;
    max-width: 120rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.filtro {
    background-color: var(--fundo-claro);
    padding: 2rem;
    border-radius: 1.2rem;
    margin-bottom: 4rem;
    text-align: center;
    box-shadow: 0 0.8rem 1.6rem var(--sombra);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100rem;
    box-sizing: border-box;
}

.filtro h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: var(--verde-oliva);
}

.campo {
    font-size: 1.6rem;
    padding: 1rem;
    margin: 0.5rem;
    border: 0.1rem solid var(--verde-oliva);
    border-radius: 0.8rem;
    outline: none;
    width: 20rem;
    max-width: 100%;
    margin-bottom: 1.5rem;
}

.tabela-reservas {
    width: 100%;
    overflow-x: auto;
    overflow-y: auto;
    max-height: 40rem;
}

.tabela-reservas table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1.4rem;

}

.tabela-reservas th,
.tabela-reservas td {
    padding: 1.2rem;
    border: 0.1rem solid var(--texto-suave);
    text-align: center;
}

.tabela-reservas thead {
    background-color: var(--verde-oliva);
    color: var(--branco);
}

.confirmacao {
    background-color: var(--verde-confirmado);
    border: none;
    width: 4rem;
    height: 4rem;
    border-radius: 25%;
    background-image: url('../AssetsGerente/images/verificar.png');
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.2s ease;
    cursor:pointer;
}

.confirmacao:hover{
    background-color: var(--verde-confirmado-selecionado);
    transform: translateY(-0.2rem);
    transition: 0.2s ease;
}

.confirmacao-pendente {
    background-color: var(--amarelo-pendente);
    border: none;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 25%;
    background-image: url('../AssetsGerente/images/espera.png');
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: 0.2s ease;
}

.confirmacao-pendente:hover {
    background-color: var(--amarelo-pendente-selecionado);
    transform: translateY(-0.2rem);
    transition: 0.2s ease;
}

.status-opcao {
  width: 50px;
  height: 50px;
  border-radius: 4px;
  cursor: pointer;
  border: 2px solid transparent;
  display: inline-block;
  margin: 0 5px;
}

.status-pendente {
    background-color: var(--amarelo-pendente);
    border: none;
    width: 6rem;
    height: 6rem;
    border-radius: 25%;
    background-image: url('../AssetsGerente/images/espera.png');
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: 0.2s ease;
}

.status-pendente:hover{
    background-color: var(--amarelo-pendente-selecionado);
    transform: translateY(-0.2rem);
    transition: 0.2s ease;
}

.status-confirmado {
    background-color: var(--verde-confirmado);
    border: none;
    width: 6rem;
    height: 6rem;
    border-radius: 25%;
    background-image: url('../AssetsGerente/images/verificar.png');
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: 0.2s ease;
}

.status-confirmado:hover{
    background-color: var(--verde-confirmado-selecionado);
    transform: translateY(-0.2rem);
    transition: 0.2s ease;
}
.status-cancelado {
    background-color: var(--vermelho-escuro);
    border: none;
    width: 6rem;
    height: 6rem;
    border-radius: 25%;
    background-image: url('../AssetsAtendente/image/marca-x.png');
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: 0.2s ease;
}

.status-cancelado:hover {
    background-color: var(--vermelo-escuro-selecionado);
    transform: translateY(-0.2rem);
    transition: 0.2s ease;
}
.status-finalizado {
    background-color: var(--preto-finalizado);
    border: none;
    width: 6rem;
    height: 6rem;
    border-radius: 25%;
    background-image: url('../AssetsGerente/images/verificar.png');
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: 0.2s ease;
}

.status-finalizado:hover{
    background-color: var(--preto-finalizado-selecionado);
    transform: translateY(-0.2rem);
    transition: 0.2s ease;
}

.status-container button.selecionado {
    transform: scale(1.5);
}

table {
    border-collapse: separate;
    border-spacing: 0;
    border: 0.1rem solid var(--verde-oliva);
    border-radius: 1rem;
    overflow: hidden;
    background-color: var(--branco);
    margin-bottom: 0.5rem;
}

.logo-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.pizza-img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0.2rem 0.6rem var(--sombra);
}

.bella {
    color: var(--vermelho-tomate);
}

.logo-area h1 {
    font-size: 3rem;
    color: var(--verde-oliva);
    padding-right: 3rem;
    margin-left: 1rem;
}

.input-container {
    display: flex;
    margin: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

input:focus {
    border-color: var(--vermelho-tomate);
    box-shadow: 0 0 0.5rem rgba(77, 96, 64, 0.3);
    outline: none;
}

.main-name {
    font-size: 2.4rem;
    color: var(--vermelho-tomate);
    margin-top: 0;
}

.botao-pesquisa {
    background-color: var(--verde-oliva);
    border: none;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-image: url('../AssetsAtendente/image/search.png');
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: 0.2s ease;
    margin-bottom: 1.2rem;
    margin-left: 0.8rem;
}

.botao-pesquisa:hover {
    background-color: var(--verde-escuro);
}

.cabecalho {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.voltar-menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    height: auto;
}

.back {
    width: 2.5rem;
    height: 2.5rem;
}

.button-description {
    font-size: 1.8rem;
    padding-left: 0.5rem;
}

.button-back {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5rem;
    border-radius: 2rem;
    border-style: none;
    border-width: 0.1rem;
    background-color: var(--verde-oliva);
    cursor: pointer;
    color: var(--fundo-claro);
}

.button-back:hover {
    background-color: var(--vermelho-escuro);
    transform: translateY(-0.2rem);
    transition: 0.2s ease;
}






.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
}

.modal-conteudo {
    background-color: var(--fundo-claro);
    border-radius: 1rem;
    border-style: solid;
    border-color: var(--verde-oliva);
    border-width: 0.3rem;
    padding: 2rem;
    width: 90%;
    max-width: 600px;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.6);
    text-align: center;
}


.modal-botoes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}

.modal-botoes .confirmar {
    background-color: var(--verde-oliva);
    color: white;
    border: none;
    padding: 1rem 1.6rem;
    border-radius: 1.5rem;
    cursor: pointer;
    width: 25%;
    text-align: center;
}

.modal-botoes .voltar {
    background-color: var(--vermelho-tomate);
    color: white;
    border: none;
    border-radius: 1.5rem;
    cursor: pointer;
    width: 25%;
    text-align: center;
    padding: 1rem 1.6rem;
}

.modal-conteudo h1 {
    color: var(--verde-oliva);
}

.modal-conteudo h2 {
    color: var(--verde-oliva);
}



.confirmar:hover {
    background-color: var(--verde-escuro);
    transform: translateY(-0.2rem);
    transition: 0.2s ease;
}

.voltar:hover {
    background-color: var(--vermelho-escuro);
    transform: translateY(-0.2rem);
    transition: 0.2s ease
}

.status-container {
    display: flex;
    justify-content: center;
    gap: 8rem;
    margin-top: 3rem;
}

.description-container {
    display: flex;
    justify-content: center;
    gap: 4rem;
    font-size: 2rem;
}

.fonte-amarela {
    color: var(--amarelo-pendente);
}

.fonte-verde {
    color: var(--verde-confirmado)
}

.fonte-vermelha {
    color: var(--vermelho-escuro)
}

.fonte-preta {
    color: var(--preto-finalizado)
}

.confirmacao-pendente-icon {
    background-color: var(--amarelo-pendente);
    border: none;
    width: 6rem;
    height: 6rem;
    border-radius: 25%;
    background-image: url('../AssetsGerente/images/espera.png');
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: 0.2s ease;
}

.confirmacao-pendente-icon:hover {
    background-color: var(--amarelo-pendente-selecionado);
    transform: translateY(-0.2rem);
    transition: 0.2s ease;
}

.confirmacao-icon {
    background-color: var(--verde-confirmado);
    border: none;
    width: 6rem;
    height: 6rem;
    border-radius: 25%;
    background-image: url('../AssetsGerente/images/verificar.png');
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: 0.2s ease;
}

.confirmacao-icon:hover {
    background-color: var(--verde-confirmado-selecionado);
    transform: translateY(-0.2rem);
    transition: 0.2s ease;
}

.cancelado {
    background-color: var(--vermelho-escuro);
    border: none;
    width: 4rem;
    height: 4rem;
    border-radius: 25%;
    background-image: url('../AssetsAtendente/image/marca-x.png');
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: not-allowed;
    transition: 0.2s ease;
}

.cancelado:hover {
    background-color: var(--vermelo-escuro-selecionado);
    transform: translateY(-0.2rem);
    transition: 0.2s ease;
}

.finalizado {
    background-color: var(--preto-finalizado);
    border: none;
    width: 4rem;
    height: 4rem;
    border-radius: 25%;
    background-image: url('../AssetsGerente/images/verificar.png');
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: not-allowed;
    transition: 0.2s ease;

}

.finalizado:hover {
    background-color: var(--preto-finalizado-selecionado);
    transform: translateY(-0.2rem);
    transition: 0.2s ease;
}


@media (max-width: 768px) {
    .campo {
        width: 100%;
    }

    .tabela-reservas th,
    .tabela-reservas td {
        font-size: 1.2rem;
        padding: 0.8rem;
        height: 6rem;
    }

    .botao-editar {
        border-radius: 1rem;
        width: 4rem;
        height: 4rem;
    }

    .input-container {
        flex-direction: column;
        align-items: stretch;
        max-width: 90%;
    }


    .logo-area {
        flex-direction: column;
    }

    .logo-area h1 {
        padding-right: 0;
        margin: 1rem 0;
    }


    .main-name {
        font-size: 2rem;
    }

    .botao-pesquisa {
        border-radius: 1rem;
        width: 20rem;
        height: 4rem;
        background-size: 20%;
        margin-bottom: 2rem;
    }

    .status-container{
        gap: 1.2rem;
    }

    .description-container{
        font-size: 1rem;
        gap: 1.6rem;
    }
    .button-back{
        width: 100%;
        margin-top: 20rem;
        border-radius: 1rem;
    }

    


}
